@font-face {
  font-family: 'icomoon';
  src: url('~@/assets/fonts/icomoon.ttf') format('truetype'),
    url('~@/assets/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: '\e900';
}
.icon-chevron-down:before {
  content: '\e901';
}
.icon-close:before {
  content: '\e902';
}
