/*------------------------------------*/
/*  COLORS  */
/*------------------------------------*/
$color-primary: #498aed;
$color-success: #68cc68;
$color-warning: #efc669;
$color-danger: #e4474e;
$color-text-regular: #303133; 
$color-text-faded: lighten($color-text-regular, 45%);
$color-text-faded-low: lighten($color-text-regular, 30%);
$color-grey: #dddddd;
$color-grey-light: #f6f6f6;
$color-border: $color-grey;
/*------------------------------------*/
/*  FONTS  */
/*------------------------------------*/
$font: Helvetica, Arial, sans-serif;
/*------------------------------------*/
/*  FROM  */
/*------------------------------------*/
$input-font-size: 14px;
$input-height: 40px;
$input-inner-padding: 0 15px;
$input-border-radius: 4px;
$input-border: 1px solid $color-border;